@charset "utf-8";

#design{
    background: rgb(0, 0, 55);
    color: white;
}

#design .title{
    position: absolute;
    font-size: 128px;
    font-weight: 700;
    color: orangered;
    left: -50%;
    top: 80%;
    z-index: 2;
}
#design .title span{
    position: relative;
    left: -50%;
    opacity: 0;
}

#design .bg{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
#design .bg .top{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(10, 10, 155),rgb(5, 5, 105)15%,rgb(0, 0, 55)30%);
}
#design .bg .btm{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top,rgb(5, 5, 105),rgb(0, 0, 55));
}

#design .main{
    z-index: 1;
}
#design .main .card{
    position: absolute;
    left: -80%;
    top: 0;
    width: 60%;
    height: 100%;
    scale: 0;
}
#design .main .card:nth-of-type(1){
    z-index: 20;
}
#design .main .card:nth-of-type(1) .img{
    scale: 1;
    left: 20%;
    transform: perspective(240px) rotateY(10deg) translateZ(100px);
}
#design .main .card:nth-of-type(1) .img:hover{
    scale: 0.65;
    left: -5%;
    transform: perspective(240px) rotateY(0deg) translateZ(100px);
}
#design .main .card:nth-of-type(2){
    z-index: 19;
}
#design .main .card:nth-of-type(2) .img{
    scale: .8;
    left: 12%;
    transform: perspective(240px) rotateY(10deg) translateZ(80px);
}
#design .main .card:nth-of-type(3){
    z-index: 18;
}
#design .main .card:nth-of-type(3) .img{
    scale: .6;
    left: 6%;
    transform: perspective(240px) rotateY(10deg) translateZ(50px);
}
#design .main .card:nth-of-type(4){
    z-index: 17;
}
#design .main .card:nth-of-type(4) .img{
    scale: .4;
    left: 2%;
    transform: perspective(240px) rotateY(10deg) translateZ(10px);
}
#design .main .card:nth-of-type(5){
    z-index: 16;
}
#design .main .card:nth-of-type(5) .img{
    scale: .2;
    left: 0%;
    transform: perspective(240px) rotateY(10deg) translateZ(-40px);
}
#design .main .card:nth-of-type(6){
    z-index: 15;
}
#design .main .card:nth-of-type(7){
    z-index: 14;
}
#design .main .card:nth-of-type(8){
    z-index: 13;
}
#design .main .card:nth-of-type(9){
    z-index: 12;
}
#design .main .card:nth-of-type(10){
    z-index: 11;
}
#design .main .card:nth-of-type(11){
    z-index: 10;
}
#design .main .card:nth-of-type(12){
    z-index: 9;
}
#design .main .card:nth-of-type(13){
    z-index: 8;
}
#design .main .card:nth-of-type(14){
    z-index: 7;
}
#design .main .card:nth-of-type(15){
    z-index: 6;
}
#design .main .card:nth-of-type(16){
    z-index: 5;
}
#design .main .card:nth-of-type(17){
    z-index: 4;
}
#design .main .card:nth-of-type(18){
    z-index: 3;
}
#design .main .card:nth-of-type(19){
    z-index: 2;
}
#design .main .card:nth-of-type(20){
    z-index: 1;
}
#design .main .card:not(:nth-of-type(1),:nth-of-type(2),:nth-of-type(3),:nth-of-type(4),:nth-of-type(5)) .img{
    scale: 0;
    left: -1%;
    transform: perspective(240px) rotateY(10deg) translateZ(-100px);
}
#design .main .card .img{
    position: absolute;
    transform-origin: left;
    left: 0%;
    top: 20%;
    width: 100%;
    height: 60%;
    transition: all 1s;
}
#design .main .card .img img{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, .5);
}
#design .main .card .img img.btm{
    transform: rotateX(180deg);
    z-index: 0;
    top: 100%;
    opacity: .5;
}
#design .main .card .info{
    position: absolute;
    display: none;
    width: 40%;
    height: 46%;
    right: -280%;
    top: 27%;
}
#design .main .info .text button{
    position: absolute;
    width: 30%;
    height: 10%;
    bottom: 0%;
    right: 0;
    border-radius: 24px;
    background: none;
    border: 2px solid;
    border-left-color: white;
    border-top-color: white;
    border-right-color: gray;
    border-bottom-color: gray;
    font-size: 18px;
    font-family: "Josefin Sans", "Jua", sans-serif;
    line-height: 18px;
}
#design .main .info .text button p{
    position: relative;
    top: 3px;
}
#design .main .info .text button:hover{
    background: rgba(0, 0, 0, .5);
}
#design .main .card:nth-of-type(1) .info{
    display: block;
}
#design .main .card .info .n_text{
    position: relative;
    margin-bottom: 60px;
}
#design .main .card .info .n_text svg{
    height: 60px;
}
#design .main .card .info .n_text span{
    /* position: relative; */
    font-size: 48px;
}
#design .main .card .info .n_text .stroke{
    position: relative;
    font-size: 164px;
    stroke-width: 5px;
    stroke: orangered;
    fill: transparent;
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
}
#design .main .card .info .n_text .fill{
    position: relative;
    font-size: 164px;
    fill: orangered;
    opacity: 1;
}
#design .main .card .info .text{
    display: none;
}
#design .main .card .info .text p{
    position: relative;
    font-size: 24px;
}
#design .main .card .info .tool{
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    height: 100px;
}
#design .main .card .info .tool img{
    width: auto;
    height: 100%;
}